.UserInterface section.home  {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.UserInterface section.home .home-div {
    margin-bottom: 100px;
}

.UserInterface section.home .home-div .user{
    position: absolute;
    width: 1001px;
    height: 152px;
    top: 300px;
    left: 450px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
}


.UserInterface section.home .home-div h3.saldo-container{
    /* RETANGULO */
    height: 170px;
    width: 1152px;
    border-radius: 0px;
    background: #FFD101;
    color: #FFF;             
}

.UserInterface section.home .home-div h3 .saldo {
        /* FONTE */
        font-family: Poppins;
        font-size: 72px;
        font-style: normal;
        font-weight: 600;
        line-height: 165px;
        letter-spacing: -0.015em;

        position: absolute;
        width: 1152px;
        height: 170px;
        left: 450px;
}

